a:link {
                color: blue;
            }
            a:active {
           color: purple;
            }
            a:hover {
                color: purple;
            }
            a:visited {
           color: purple;
            }
            #dc1 {
                margin: 0px 33%;
                background-color: lime;
                height: 200px;
                overflow: auto;
                width: 35%;
                color: black;
                
            }
            .sans {
                font-family: sans-serif;
                color: black;
            }
            #dnd1 {
                color: rgb(255, 130, 255);
                background-color: rgb(255, 43, 0);  
            }
            .dnd2 {
                border: dashed red;
                color: yellow;
                margin: 0px 29%; 
                font-size: 30px; 
            }
            /* Not completly sure if I'll need the next one */
            #sc1 {
                
            }
            .GrenzeGotischfont {
                font-family: "Grenze Gotisch";
                color: rgb(0, 0, 0);
                
            }
            .ct1 {
                color: rgb(138, 191, 111);
                font-family: mono;
                   
                
            }
            /* Or this one*/
            .ct2 {
                margin: 1%;
                
            }
            /* Hey! Turns out they WERE useful after all!*/
            #yolo {
                border: dotted;
                margin: 0px 30%;
            }
            #yono {
                border: dotted;
                margin: 0px 30%;
                background: rgb(69, 64, 94);
            }
            #yoko {
                border: dotted;
                margin: 0px 29%;
            }
            #maryako {
                height: 250px;
                overflow: auto;
                background: rgb(140, 89, 89);
            }
          #idsarethebest {
            position: fixed;
            color: white;
            font-size: 30px;
            z-index: 0;
          }
          #idsarethebest:hover {
            z-index: 2;
            color: white;
            font-family: sans-serif;
            text-align: right;
            margin-top: none;
            font-size: 7.5px;
          }
